﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.htmlheading {
    text-transform: uppercase;
    border: dotted;
    color: #b13a3a;
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.htmlpara {
    color: #000000;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-style:normal;
    font-size:15px;
    font-weight:bold;
}
.htmlheading1 {
    color: #812474;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    border-style: outset;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.htmlpara1 {
    font-family: "Courier New", Courier, monospace;
    text-align:justify;
    color:#000000;
    font-weight:bold;
    font-style:oblique;
}
.htmlclass{
    border:2px solid #2e4c93;
    border-radius:8px;
    margin-top:95px;
    padding-left:20px;
}
.html-links >li >a{
    color: #ff0000;
}
#menu a:hover{
    color:#ffd800;
}
#menu a:active{
    color:#5d929c;
}
.htmlheading2{
    text-decoration:underline;
    color:#2e4c93;
    text-transform:capitalize;
}
.myclass{
    border-style:double;
    border-color:#aab548;
    padding-left:20px;
    margin-top:50px;
}
.htmlheading3 {
    font-family: Georgia, serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#319a60;
    text-decoration:underline;
}
.htmlpara2{
    font-style:italic;
    color:#000000;
    text-align:center:
}
.jsheading{
    font-stretch:extra-expanded;
    font-variant:normal;
    color:#44ddca;
}
.jsmain {
    border-style: dotted dashed solid double;
    padding-left: 20px;
    margin-top: 50px;
    border-color: #a5659e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jsheading1{
    border-style:solid;
    border-width:medium;
    border-color:#5d929c;
    padding-left:10px;
    text-align:left;
}
.jspara{
    font-family:Arial;
    padding-left:10px;
    font-size:20px;
    font-variant:small-caps;
}
.jsheading2{
    border-style:groove;
    background:#5d929c;
    font-weight:bold;
    text-transform:uppercase;
}
.listjs > li >a{
    color:#858e34;
    text-transform:uppercase;
    font-weight:600;
}
#jslinks a:hover{
    color:#943a3a;
}
.myjs{
    border-style:dashed;
    margin-top:50px;
    padding:20px;
    border-color:#2e4c93;
    font-family:cursive;
}
.jsnotes{
    text-decoration:underline;
    font-weight:700;
}
.dbheading{
    border-bottom:outset;
    border-bottom-color:ActiveBorder;
    border-bottom-color:Background;
    color:#5d929c;
    font-weight:800;
}
.dbpara{
    font-size:x-large;
    font-family:'Monotype Corsiva';
}
.dbheading1{
    border-style:ridge;
    background:#812474;
    color:#131a6c;
    padding:10px;
}
.dbpara1{
    font-family:'Times New Roman', Times, serif;
    color:#319a60;
    font-stretch:extra-condensed;
    font-size:18px;
}
.dbnotes{
    border-style:double;
    padding-left:20px;
    font-family:'Bookman Old Style';
}
.dbheading3{
    border-style:dashed;
    margin-right:20px;
    border-color:#969090;
}
.dbpara2{
    color:#2f7c96;
    font-size:larger;
}
.linkdiv{
    border-style:groove;
    margin-top:50px;
    padding:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#dblinks a:hover {
    color:#a73493;
}